:root {
    --primary-accent: #6DC0D5;
    --primary-light-shade: #DFF1F6;
    --primary-lightest-shade: #EFF8FB;
    --top-bar-font: #000;
    --secondary-accent: #AD7A99;
    --secondary-lighest-shade: #F7F2F5;
}
body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

#loginBackground {
    position: fixed;
    object-fit: cover;
}

#signInContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 600px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 
        [company-name] 1fr
        [welcome] 1fr
        [email-password] 100px
        [sign-in-button] 1fr
        [google] 1fr
        [sign-up] 1fr
        [demo] 1fr;
    text-align: center;
    /* border: black 1px solid; */
    z-index: 40;
    background-color: rgba(255, 255, 255, 0.685);
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12); 
}

#companyNameContainer {
    grid-row: company-name;
    grid-column: 1/5;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#companyName {
    width: 200px;
    margin: -48px;
}

#welcomeContainer {
    grid-row: welcome;
    grid-column: 1/5;
}
#welcomeText {
    margin-top: 40px;
    font-weight: bold;
    font-size: 24px;
}
.icon {
    width: 18px;
    margin: auto;
    margin-left: 10px;
}

#emailPasswordContainer {
    grid-row: email-password;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 1/5;
}
#emailContainer, #passwordContainer {
    border: none;
    outline: none;
    resize: none;
    width: 80%;
    height: 75%;
    margin: auto;
    grid-column: 1/5;
    margin-left: 60px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.685);
    display: grid;
    grid-template-columns: 30px auto;
    border-radius: 20px;
}
#emailInputArea {
    height: 26px;
    overflow: hidden;
}
#signInButton {
    grid-row: sign-in-button;
    grid-column: 3/5;
    margin-right: 60px;
    width: 75%;
    color: white;
    font-weight: bold;
    background-color: var(--primary-accent);
    border: none;
}