/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 10px;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;
}
:root {
    --primary-accent: #fef04e;
    --primary-light-shade: #DFF1F6;
    --primary-lightest-shade: #EFF8FB;
    --top-bar-font: #000;
    --secondary-accend: #AD7A99;
    --secondary-lightest-shade: #F7F2F5;
}

body {
    height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

body li {
    list-style-type: none;
}

#whensignedout, #whensignedin {
    position: relative;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
    display: flex;
}

#userdetails {
    width: auto;
    font-weight: bold;
    margin-top: 10px;
}

#signoutbutton {
    height: 80%;
    margin: auto 20px;
    width: 100px;
    border: none;
    align-items: center;
    border-radius: 25px;
    background-color: var(--primary-light-shade);
    font-weight: bolder;
}

#signoutbutton:hover {
    transform: scale(1.05);
    transition-duration: .1s;
}

#sidebar-content-container {
    width: 250px;
    margin: 50px auto;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#sidebar-content-container #sidebar-Hometab,
#sidebar-content-container #sidebar-calendartab,
#sidebar-content-container #sidebar-weektab {
    font-size: 22px;
    font-weight: bold;
    /* line-height: 100%; */
    margin: 10px 10px 10px;
}

#sidebar-content-container #sidebar-projectstab {
    font-size: 22px;
    font-weight: bold;
    line-height: 100%;
    margin: 10px 10px 10px;
}

#sidebar-content-container #sidebar-projectstab #ssidebar-userprojects {
    display: flex;
    justify-content: flex-start;
}

#sidebar-content-container #sidebar-projectstab #ssidebar-userprojects div{
    font-size: 18px;
    font-weight: normal;
    line-height: 100%;
    margin: 10px 10px 10px;
}

#sidebar-content-container #sidebar-projectstab #ssidebar-userprojects .userprojects {
    display: flex;
    justify-content: flex-start;
}    

#sidebar-content-container #sidebar-projectstab #ssidebar-userprojects .tasknumbercontainer .task-number {
    margin: auto;
    position: relative;
    top: 3px;
    right: 0px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 100%;
}